@* Views\Linkout *@
@{
   ViewBag.Title = "Roadwire";
}

@section styles {
@*    @Styles.Render("~/css/bootstrap")    @Styles.Render("~/css/bootstrap-responsive") *@
    @Styles.Render("~/css/bootstrap-cust")
    @Styles.Render("~/css/font-awesome")
    @Styles.Render("~/css/jquery/jqueryuicust")
    @Styles.Render("~/css/linkout")
}

<section class="cc-selector" ng-app="linkout">
    <div id="linkout-cont" class="container" ng-controller="LinkoutCtrl">

        <div id="logo-top" class="container">
            <div class="pull-left">
                <a href ng-click="routeType()">
                    <img src="@Url.Content("~/Images/Linkout/roadwire_cc.png")" alt="Roadwire.com"/>
                </a>
            </div>
            <div class="pull-right">
                <a href="https://www.costco.com">
                    <img src="@Url.Content("~/Images/Linkout/cc_logo.gif")" alt="Costco.com"/>
                </a>
            </div>
        </div>

        <div id="navbar-cont">
            <div class="navbar">
              <div class="navbar-inner">

                  <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
              
                  <div class="nav-collapse collapse">
                    <ul class="nav">
                        <li ng-class="{active: title=='type'}"> <a href ng-click="routeType()">Costco Offers</a> </li>
                        <li ng-class="{active: title=='leather'}"> <a href ng-click="routeLeather()">Leather</a> </li>
                        <li ng-class="{active: title=='heaters'}"> <a href ng-click="routeHeaters()">Heaters</a> </li>   
                        <li ng-class="{active: title=='schedule'}" ng-show="pickedProduct()"> 
                            <a href ng-click="routeSchedule()">Schedule</a> 
                        </li>
                        <li ng-class="{active: title=='confirm'}" ng-show="pickedProduct()"> 
                            <a href ng-click="routeConfirm()">Confirm</a> 
                        </li>
                    </ul>
                   
                    <div class="nav pull-right">
                        <button type="button" id="shopping-cart" class="btn" ng-show="pickedProduct()" ng-click="routeCheckout()" style="display: none">
                            <i class="icon-shopping-cart icon-large"></i> (<span ng-bind="productCount()"></span>)
                        </button>
                    </div>
                  </div> 

              </div>
            </div>
        </div> 
        
        <div ng-controller="BreadCtrl" ng-show="breadcrumbs.length > 0">
            <div class="thin-banner" class="span12"></div>
            <ul class="breadcrumb lo-crumbs">
                <li ng-repeat="crumb in breadcrumbs" ng-class="{active: $last}"><span ng-bind="crumb"></span></li>
            </ul>
        </div>
        
        <div id="steps-cont" class="cc-selector container">
            <div ng-view></div>
        </div>

    </div>

    <footer id="footer" class="footer container">
        
        <div class="pull-right">
            <a target="_blank" href="http://www.facebook.com/Roadwire" class="btn btn-facebook"><i class="icon-facebook" title="Connect with Facebook"></i></a>
            <a target="_blank" href="http://twitter.com/Roadwire" class="btn btn-twitter"><i class="icon-twitter" title="Connect with Twitter"></i></a>
            <a target="_blank" href="https://plus.google.com/102614739915320240152/posts" class="btn btn-google-plus"><i class="icon-google-plus" title="Connect with Google Plus"></i></a>
            <a target="_blank" href="#/videos"  class="btn btn-youtube"><i class="icon-youtube" title="Watch us on YouTube"></i></a>
        </div>

        <ul class="footer-links">
          <li><a href="#/faq" title="About Us">FAQ</a></li>
          <li class="muted">·</li>
          <li><a href="#/about" title="About Us">About Roadwire</a></li> @*<a href="http://roadwire.com/s.nl/sc.10/.f" title="About Us">About Roadwire</a>*@
          <li class="muted">·</li>
          <li><a href="http://roadwire.com/s.nl/c.801095/sc.10/category.321192/.f" title="Contact" id="footer_contactus">Contact Us</a></li>
          <li class="muted">·</li>
          <li><a href="http://roadwire.com/s.nl/c.801095/it.I/id.19/.f" title="Return Policy" id="footer_return">Return Policy</a></li>
          <li class="muted">·</li>
          <li><a href="http://roadwire.com/s.nl/c.801095/it.I/id.4/.f" title="Warranty" id="footer_warranty">Warranty</a></li>
        </ul>        

        <small>
            Copyright &copy; @DateTime.Now.Year Roadwire LLC. All rights reserved. The Roadwire trademark and logo are registered trademarks of Roadwire LLC. All other registered trademarks or trademarks are property of their respective owners.
        </small>
    </footer>



</section>

@section scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryuicust")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/angular-resource")
    @Scripts.Render("~/bundles/bootstrapjs")
    @Scripts.Render("~/bundles/ui-boots")
    @Scripts.Render("~/bundles/linkout")

}

